.moive h3{
    color: var(--font-color);
}


.page-item{
    cursor: pointer;
}

.notActive{
    background-color: transparent;
}

.page-item .active{
    background-color: black;
    color: aliceblue;
}